#  Assignment : Lending Case Study

This Case study is w.r.t the assignment given to us for the EDA module

1. **Harshali Bhoyar**
2. **Rupesh Kumar Shukla**

# Step 1 : Import Relevant Libraries and CSV file

In [56]:
#import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
loan_df = pd.read_csv("loan.csv")
loan_df.head()

C:\Users\21985\AppData\Local\Temp\ipykernel_16144\1704442039.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_df = pd.read_csv("loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

# Step 2 : Data Cleaning

## 2.1 Columns with missing values

In [51]:
na_values_grtr_90 = loan_df.isna().mean()*100
na_values_grtr_90
columns_to_drop = na_values_grtr_90[na_values_grtr_90 > 90.0]
#The below print command will give the columns with missing percentage > 90
print("Columns with missing percentage > 90 : \n", columns_to_drop,"\n")

#The below code gives the columns that needs to be dropped.
print("Columns to drop : \n", columns_to_drop.index,"\n")

#The below code drops the column with missing values > 90
loan_df.drop(columns=columns_to_drop.index, inplace=True)

Columns with missing percentage > 90 :
 mths_since_last_record             92.985372
next_pymnt_d                       97.129693
mths_since_last_major_derog       100.000000
annual_inc_joint                  100.000000
dti_joint                         100.000000
verification_status_joint         100.000000
tot_coll_amt                      100.000000
tot_cur_bal                       100.000000
open_acc_6m                       100.000000
open_il_6m                        100.000000
open_il_12m                       100.000000
open_il_24m                       100.000000
mths_since_rcnt_il                100.000000
total_bal_il                      100.000000
il_util                           100.000000
open_rv_12m                       100.000000
open_rv_24m                       100.000000
max_bal_bc                        100.000000
all_util                          100.000000
total_rev_hi_lim                  100.000000
inq_fi                            100.000000
total_cu_tl                       100.000000
inq_last_12m                      100.000000
acc_open_past_24mths              100.000000
avg_cur_bal                       100.000000
bc_open_to_buy                    100.000000
bc_util                           100.000000
mo_sin_old_il_acct                100.000000
mo_sin_old_rev_tl_op              100.000000
mo_sin_rcnt_rev_tl_op             100.000000
mo_sin_rcnt_tl                    100.000000
mort_acc                          100.000000
mths_since_recent_bc              100.000000
mths_since_recent_bc_dlq          100.000000
mths_since_recent_inq             100.000000
mths_since_recent_revol_delinq    100.000000
num_accts_ever_120_pd             100.000000
num_actv_bc_tl                    100.000000
num_actv_rev_tl                   100.000000
num_bc_sats                       100.000000
num_bc_tl                         100.000000
num_il_tl                         100.000000
num_op_rev_tl                     100.000000
num_rev_accts                     100.000000
num_rev_tl_bal_gt_0               100.000000
num_sats                          100.000000
num_tl_120dpd_2m                  100.000000
num_tl_30dpd                      100.000000
num_tl_90g_dpd_24m                100.000000
num_tl_op_past_12m                100.000000
pct_tl_nvr_dlq                    100.000000
percent_bc_gt_75                  100.000000
tot_hi_cred_lim                   100.000000
total_bal_ex_mort                 100.000000
total_bc_limit                    100.000000
total_il_high_credit_limit        100.000000
dtype: float64

Columns to drop :
 Index(['mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
       'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
       'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
       'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object')

### Columns to drop
1. We identified columns with missing value percentage > 90%.
2. We dropped those columns as they won't give any specific analysis.
3. 55 Columns remain after dropping the columns with Null values with missing percentage > 90%

In [67]:
loan_df.shape
#We have total 39717 Rows and 55 Columns

(39717, 55)

In [70]:
loan_df.info()
#This helps us in identifying the Non-Null count.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 55 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  open_acc                    39717 non-null  int64
 30  pub_rec                     39717 non-null  int64
 31  revol_bal                   39717 non-null  int64
 32  revol_util                  39667 non-null  object
 33  total_acc                   39717 non-null  int64
 34  initial_list_status         39717 non-null  object
 35  out_prncp                   39717 non-null  float64
 36  out_prncp_inv               39717 non-null  float64
 37  total_pymnt                 39717 non-null  float64
 38  total_pymnt_inv             39717 non-null  float64
 39  total_rec_prncp             39717 non-null  float64
 40  total_rec_int               39717 non-null  float64
 41  total_rec_late_fee          39717 non-null  float64
 42  recoveries                  39717 non-null  float64
 43  collection_recovery_fee     39717 non-null  float64
 44  last_pymnt_d                39646 non-null  object
 45  last_pymnt_amnt             39717 non-null  float64
 46  last_credit_pull_d          39715 non-null  object
 47  collections_12_mths_ex_med  39661 non-null  float64
 48  policy_code                 39717 non-null  int64
 49  application_type            39717 non-null  object
 50  acc_now_delinq              39717 non-null  int64
 51  chargeoff_within_12_mths    39661 non-null  float64
 52  delinq_amnt                 39717 non-null  int64
 53  pub_rec_bankruptcies        39020 non-null  float64
 54  tax_liens                   39678 non-null  float64
dtypes: float64(19), int64(13), object(23)
memory usage: 16.7+ MB

In [66]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [71]:
loan_df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

### 2.2 Columns with least signifiance
1. id = This is not required as it is just for unique identification
2. member_id =  This is not required as it is just for loan

In [ ]:
#Find out the revol_util which has blank utilization
df_MissRevolutil = df[df['revol_util'].isna()].copy()
df_MissRevolutil.head()

In [ ]:
df2.shape

In [ ]:
df2.info()

In [ ]:
df2['revol_util'] = df['revol_util'].str.rstrip('%').astype(float)
df2['term'] = df['term'].str.rstrip('months').astype(int)

### Create Binning for the "revol_util"
### Utilization Bins
1. 0%-20%
2. 20%-40%
3. 40%-60%
4. 60%-80%
5. 80%-100%

In [ ]:
def createRevolUtilBin(x):
    if x>80:
        return "80%-100%"
    elif 60<x and x<=80:
        return "60%-80%"
    elif 40<x and x<=60:
        return "40%-60%"
    elif 20<x and x<=40:
        return "20%-40%"
    elif x<=20:
        return "0%-20%"
    else:
        return "Error"
df2.loc[:, 'revol_util_range'] = df2["revol_util"].apply(createRevolUtilBin)
df1 = df2[['revol_util_range','revol_util']]
df1.sort_values(by = 'revol_util')

In [ ]:
piv_ls_util_range = df2.groupby(['revol_util_range', 'loan_status']).size().unstack(fill_value=0).reset_index()
piv_ls_util_range['Total'] = piv_ls_util_range['Charged Off'] + piv_ls_util_range['Fully Paid'] + piv_ls_util_range['Current']
piv_ls_util_range['ChargedOff_%'] = round(piv_ls_util_range['Charged Off']*100/piv_ls_util_range['Total'])
piv_ls_util_range['Current_%'] = round(piv_ls_util_range['Current']*100/piv_ls_util_range['Total'])
piv_ls_util_range['Fully_Paid_%'] = round(piv_ls_util_range['Fully Paid']*100/piv_ls_util_range['Total'])


piv_ls_util_range_sorted = piv_ls_util_range.sort_values(by='ChargedOff_%')
piv_ls_util_range_sorted

In [ ]:
import matplotlib.pyplot as plt
piv_ls_util_range_sorted.plot(x='revol_util_range', y='ChargedOff_%', kind='line')
plt.xlabel('Revolving Utilization Range')
plt.ylabel('Charged Off Percentage')
plt.title('Charged Off Percentage w.r.t increasing Revolving Utilization Range')

In [ ]:
Charged_Off_df = df2[df2['loan_status']=='Charged Off']
Charged_Off_df['revol_util'].info

import seaborn as sns
import matplotlib.pyplot as plt
sns.histplot(Charged_Off_df['revol_util'], bins=5 , color='blue')

plt.title('Histogram of revol_util for Charged off Customer')
plt.xlabel('revol_util for Charged off Customer')
plt.ylabel('Frequency of Customers')

plt.show()

In [ ]:
piv_ls_hometype = df2.groupby(['home_ownership', 'loan_status']).size().unstack(fill_value=0).reset_index()
piv_ls_hometype['Total'] = piv_ls_hometype['Charged Off'] + piv_ls_hometype['Fully Paid'] + piv_ls_hometype['Current']
piv_ls_hometype['ChargedOff_%'] = round(piv_ls_hometype['Charged Off']*100/piv_ls_hometype['Total'])
piv_ls_hometype['Current_%'] = round(piv_ls_hometype['Current']*100/piv_ls_hometype['Total'])
piv_ls_hometype['Fully_Paid_%'] = round(piv_ls_hometype['Fully Paid']*100/piv_ls_hometype['Total'])

piv_ls_hometype_sorted = piv_ls_hometype.sort_values(by='ChargedOff_%')
piv_ls_hometype_sorted

In [ ]:
import matplotlib.pyplot as plt
piv_ls_hometype_sorted.plot(x='home_ownership', y='ChargedOff_%', kind='bar')
plt.xlabel('Home Ownership')
plt.ylabel('Charged Off Percentage')
plt.title('Charged Off Percentage w.r.t Type of Ownership')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.boxplot(x='revol_util', data=Charged_Off_df)
plt.title('Box Plot of revol_util for charged off customers')
plt.show()

### From the above line chart and histogram  we can infer the following:
1. Increased likely-hood with Increasing utilization
2. People with high credit utilization are more likely to be defaulters when compared to people with lesser utilization.
3. People with utilization <30% can be our ideal customers
4. Frequency distrubtuion is highest for the people with highest utilization.
5. From the box plot we can see that the median is close to 60%.

In [ ]:
piv_ls_purpose = (df2.groupby(['purpose','loan_status'])['loan_status']).count().T
piv_ls_purpose = df2.groupby(['purpose', 'loan_status']).size().unstack(fill_value=0).reset_index()
piv_ls_purpose['Total'] = piv_ls_purpose['Charged Off'] + piv_ls_purpose['Fully Paid'] + piv_ls_purpose['Current']
piv_ls_purpose['ChargedOff_%'] = round(piv_ls_purpose['Charged Off']*100/piv_ls_purpose['Total'])
piv_ls_purpose['Current_%'] = round(piv_ls_purpose['Current']*100/piv_ls_purpose['Total'])
piv_ls_purpose['Fully_Paid_%'] = round(piv_ls_purpose['Fully Paid']*100/piv_ls_purpose['Total'])
piv_ls_purpose_sorted = piv_ls_purpose.sort_values(by='ChargedOff_%')
piv_ls_purpose_sorted

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(6, 4))
sns.lineplot(data=piv_ls_purpose_sorted, x='purpose', y='ChargedOff_%', marker='o')
plt.xlabel('Purpose of the loan')
plt.ylabel('Charged Off Percentage')
plt.title('Charged Off Percentage w.r.t Purpose of the loan')
plt.xticks(rotation=45, ha='right') 
plt.show()

### From the above line chart and histogram  we can infer the following:
1. Customer with Small_business are likely to be charged off compared to other businesses

loan_amnt: The loan amount requested.
int_rate: The interest rate on the loan.
annual_inc: The borrower's annual income.
dti: Debt-to-Income ratio.
delinq_2yrs: Number of delinquencies in the borrower's credit file.
revol_util: Revolving line utilization rate.
open_acc: Number of open credit lines.
pub_rec: Number of derogatory public records.

In [ ]:
import pandas as pd

Column_for_correlation = ['loan_amnt', 'int_rate', 'annual_inc', 'dti', 'delinq_2yrs', 'revol_util', 'open_acc', 'pub_rec']


#Below Correlation is for Charged Off  customers
df_charged_off = df2[df2['loan_status']=='Charged Off']
Charged_off_sliced_df = df_charged_off[Column_for_correlation]
Charged_off_Corr_matrix = Charged_off_sliced_df.corr()
Charged_off_Corr_matrix